# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Vercel
.vercel

# Environment files
.env*.local
.env

# Debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Sentry
.sentryclirc
